#container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

#task-list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}